.main {
  text-align: center;
  background: linear-gradient(45deg, #43a9f3, #dc53ad, #a59fde);
  height: 100vh;
  width: fit-content;
}

.main h1 {
  margin-top: 0;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.img-poster {
  height: 150px;
}

.poster-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 1rem 0 1rem;
}